.sidebar {
    // .sidebar-header
    &-header {
        margin-bottom: 30px;
        padding: 30px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        position: relative;
        height: $topbar-height;
        background: $color-primary;

        & > a {
            position: absolute;
            top: 0;
            left: 0px;
            height: 100%;
            width: 100%;
        }
    }

    // .sidebar-links
    &-links {
        & > h3  {
            text-align: right;
            padding-right: 30px;
        }

        & > ol {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: right;

            & > li {

                & > a {
                    color: white;
                    padding: 10px 30px 10px 10px;
                    display: block;
                    border-left: 0px solid $color-light;
                    transition: border-left-width 0.3s, 
                        background-color 0.2s,
                        font-weight 0.2s;

                    &:hover {
                        text-decoration: none;
                    }

                    &:hover:not(.active) {
                        border-left-width: 10px;
                        background-color: $color-dark;
                    }

                    &.active {
                        font-weight: bold;
                        background-color: $color-light;
                    }
                }
            }
        }
    }
}