#sidebar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100vh;
    min-width: $sidebar-width;
    max-width: $sidebar-width;
    transition: left 0.3s ease-in-out;
    background: $color-primary;
    
    &.collapsed {
        left: -#{$sidebar-width};
        pointer-events: none;
        position: absolute;
    }
}