.sidebar {
    // .sidebar-header
    &-header {
        padding: 20px;
        box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.6);
        border-top: 1px solid rgba(0, 0, 0, 0.25);
        background: $color-primary;
        
        position: absolute;
        height: 70px;
        left: 10px;
        top: -20px;

        @media (min-width: 768px) {
            top: 0;
            left: 0;
            width: 250px;
            height: 60px;
            text-align: center;
            border-top: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
        }

        & > img {
            height: 100%;
        }

        & > a {
            position: absolute;
            top: 0;
            left: 0px;
            height: 100%;
            width: 100%;
        }
    }

    // .sidebar-links
    &-links {
        padding-bottom: 60px;

        @media (min-width: 768px) {
            padding-bottom: 0px;
            padding-top: 60px;
        }

        // .sidebar-links__header
        &__header {
            padding: 15px 30px 10px 0px;
            text-align: right;
            background-color: #990011FF;

            & > a {
                color: white;
                font-size: 2.25rem;
            }
        }

        & > h3  {
            text-align: right;
            padding-right: 30px;
        }

        & > ol {
            background: linear-gradient(180deg, #990011FF 0%, #4a0008 100%);
            margin: 0;
            padding: 0 0 30px;
            list-style: none;
            text-align: right;

            @media (min-width: 768px) {
                padding-bottom: 0px;
            }

            & > li {

                & > a {
                    color: white;
                    padding: 10px 30px 10px 10px;
                    display: block;
                    border-left: 0px solid $color-light;
                    transition: border-left-width 0.3s, 
                        background-color 0.2s,
                        font-weight 0.2s;

                    &:hover {
                        text-decoration: none;
                    }

                    &:hover:not(.active) {
                        border-left-width: 10px;
                        background-color: $color-dark;
                    }

                    &.active {
                        font-weight: bold;
                        background-color: $color-light;
                    }
                }
            }
        }
    }
}