@namespace BlazorVault
@inherits BlazorVault.Components.Content.BVProgressBase

<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: @LocalValue%" aria-valuenow="@LocalValue" aria-valuemin="@Min" aria-valuemax="@Max"></div>
</div>