@page "/"

<div class="landing-page">
    <BVJumbotron class="text-center">
        <BVHeading>Blazor Vault</BVHeading>
        <BVText Lead>A complete library of reusable components.</BVText>
        <BVButton Href="components" Style="Style.Primary">Enter</BVButton>
    </BVJumbotron>
</div>


@code {
    [CascadingParameter(Name="layout")]
    public MainLayout Layout { get; set; }

    protected override void OnInitialized()
    {
        Layout.Update(
            x =>
            {
                x.ShowSideBar = false;
            });
    }
}