@page "/"

<div class="landing-page">
    <div class="text-center">
        <img src="/images/blazor-vault-logo-sign.png" width="100" height="100" class="mb-4"/>
        <BVHeading><strong>Blazor Vault</strong></BVHeading>
        <BVText Lead class="mb-3">A rich and robust collection of <br/>reusable Blazor components.</BVText>
        <BVButton Href="components" Style="Style.Primary" class="w-50">Enter</BVButton>
    </div>
</div>


@code {
    [CascadingParameter(Name="layout")]
    public MainLayout Layout { get; set; }

    protected override void OnInitialized()
    {
        Layout.Update(
            x =>
            {
                x.GatesHidden = false;
                x.ShowSideBar = false;
            });
    }
}