@page "/"

<BVHeading>Collapsable</BVHeading>

<br />

<BVButton Toggle="collapseExample">Click me</BVButton>
<BVCollapsable id="collapseExample" style="width:300px">
    <BVCard>
        <BVCardBody>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</BVCardBody>
    </BVCard>
</BVCollapsable>

<BVHeading class="mt-5 mb-3">Carousel</BVHeading>

<BVCarousel Loop>
    @foreach (var slideName in new string[] { "First", "Second", "Third" })
    {
        <BVCarouselSlide Active="@(slideName == "Second")">
            <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: First slide">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect>
                <text x="50%" y="50%" fill="#555" dy=".3em">@slideName slide</text>
            </svg>
        </BVCarouselSlide>
    }
</BVCarousel>

<BVHeading class="mt-5 mb-3">Spinner</BVHeading>
<BVSpinner Style="Style.Danger" />

<BVHeading class="mt-5 mb-3">Toasts</BVHeading>
<BVToast>Heads up, toasts will stack automatically</BVToast>

<BVHeading class="mt-5 mb-3">Modal</BVHeading>
<BVButton @onclick="ShowExampleModal">Open Modal Here</BVButton>
<BVModal Opened="ExampleModalShown">Helloo from this modal</BVModal>

@code {
    private bool ExampleModalShown { get; set; }

    private void ShowExampleModal()
    {
        ExampleModalShown = true;
    }
}

<BVHeading class="mt-5 mb-3">Progress</BVHeading>
<BVProgress Value="13" />
<BVProgress Value="50" />
<BVProgress Value="100" />

<BVHeading class="mt-5 mb-3">Jumbotron</BVHeading>
<BVJumbotron>
    <BVHeading As="4" Large>Hello, world!</BVHeading>
    <BVText Lead>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</BVText>
    <hr class="my-4"/>
    <BVText>It uses utility classes for typography and spacing to space content out within the larger container.</BVText>
    <BVButton>Learn more</BVButton>
</BVJumbotron>