@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@import './abstracts/variables';
@import './abstracts/colors';
@import './abstracts/depth';
@import './abstracts/functions';
@import './abstracts//mixins';

@import './layout/layout';
@import './layout/sidebar';

@import './components/loader';
@import './components/tabs';

.gate {
    &-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        background-color: #990011;
        transition: top 0.3s ease-in-out;

        &:after {
            content: '';
            display: block;
            width: 500px;
            height: 200px;
            position: absolute;
            bottom: 0;
            left: calc(50% - 250px);
            background-color: #fcf6f5ff;

            @media (max-width: 768px) {
                left: 15%;
                width: 70%;
            }
        }
    }

    &-bottom {
        position: absolute;
        top: 50vh;
        left: 0;
        width: 100%;
        height: 50vh;
        background-color: #fcf6f5ff;
        transition: top 0.3s ease-in-out;

        &:before,
        &:after {
            content: '';
            display: block;
            width: calc(50% - 250px);
            position: absolute;
            top: 0;
            border-top: 5px solid $color-primary;
            height: 50vh;

            @media (max-width: 768px) {
                width: 15%;
            }
        }

        &:before {
            left: 0;
        }

        &:after {
            left: calc(50% + 250px);

            @media (max-width: 768px) {
                left: 85%;
            }
        }

        & > div {
            width: 510px;
            position: absolute;
            top: 0;
            border: 5px solid $color-primary;
            border-top: none;
            height: 205px;
            left: calc(50% - 255px); 

            @media (max-width: 768px) {
                width: calc(70% + 10px);
                left: calc(15% - 5px);
            }
        }
    }
}


#vault {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;

    &.open {
        & > .gate-top {
            top: -50vh;
        }
        & > .gate-bottom {
            top: 100vh;
        }
    }
}

body {
    font-family: monospace;

    @media (max-width: 768px) {
        overflow-wrap: break-word;

        .display-1 {
            font-size: 3rem;
        }
        .display-2 {
            font-size: 2.75rem;
        }
        .display-3 {
            font-size: 2.25rem;
        }
        .display-4 {
            font-size: 1.75rem;
        }
    }
}

/* todo: move out of here */
.documentation-table {
    width: 100%;
    table-layout: fixed;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);

    & th, & td {
        padding: .75rem;
        vertical-align: top;
        border: 1px solid #dee2e6;
    }
}

.documentation-alert {
    &--warning {
        color: $color-white;
        background-color: $color-light;
        border-color: $color-primary;
    }
}

.documentation-example {

    & > h3 {
        text-transform: lowercase;

        &:before {
            width: 10px;
            height: 10px;
            background-color: $color-primary;
            content: '';
            display: inline-block;
            margin-right: 10px;
        }
    }

    &__body {
        position: relative;
    
        & > .btn {
            position: absolute;
            top: 0;
            right: 0;
        }
    
        & .tab-content {
            box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
        } 
    }
}

.landing-page {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;

    & > div {
        background-color: #fcf6f5ff;
        padding: 30px;
        width: 500px;
        height: 400px;
        z-index: 1001;
        box-shadow: inset 0 0 10px black;
        border: 1px solid #dc3545;

        @media (max-width: 768px) {
            width: 70%;
        }
    }

    @media (max-width: 768px) {
        & h1 {
            font-size: 1.5rem;
        }

        & p {
            font-size: smaller;
        }
    }

    & a.btn-primary {
        background-color: $color-primary;
        border-color: $color-primary;
        border-width: 2px;

        &:active {
            background-color: $color-light !important;
            border-color: $color-primary !important;
        }

        &:focus {
            box-shadow: 0px 0px 10px $color-light !important;
        }
    }
}

.documentation-text--primary {
    color: $color-light;
}