<section class="mb-3">
    <BVHeading Level="2" As="4">@Title</BVHeading>
    @ChildContent
</section>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public virtual RenderFragment ChildContent { get; set; }
}
