@using BlazorVault.Web.Client.Domain
@inherits LayoutComponentBase

<div id="vault">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" width="100%" height="100%" version="1.1" viewBox="0 0 200 100" class="" preserveAspectRatio="xMidYMid slice">
        <g transform="translate(0 -270.54)" id="vault-gates" class="@(Options.GatesHidden ? "hidden": "open")">
            <path d="m106.93 270.54-24.592 100h75.578l7.7715-31.598v-68.402z" fill="#2f2f2f" class="vault-gate-right-0" />
            <path d="m106.93 270.54-24.592 100h75.58l2.4512-9.9648v-90.035z" fill="#1d1d1d" class="vault-gate-right-1" />
            <path d="m106.93 270.54-24.592 100h119.06v-100z" class="vault-gate-right-2" />
            <path d="m28.571 270.54v100h53.77l24.592-100z" fill="#454545" class="vault-gate-left-0" />
            <path d="m34.198 270.54v100h48.143l24.592-100z" fill="#1d1d1d" class="vault-gate-left-1" />
            <path d="m-0.32115 270.54v100h84.662l24.592-100z" class="vault-gate-left-2" />
        </g>
    </svg>
</div>

<div class="wrapper">
    <nav id="sidebar" class="@(Options.ShowSideBar ? string.Empty : "collapsed")">
        <NavMenu />
    </nav>
    <div id="content">
        <CascadingValue Value="this" Name="layout">
            @Body
        </CascadingValue>
    </div>
</div>

@code {
    private LayoutOptions Options { get; set; }

    protected override void OnInitialized()
    {
        Options = new LayoutOptions();
    }

    protected override void OnParametersSet()
    {
        ResetOptions();
    }

    internal void Update(Action<LayoutOptions> setup)
    {
        setup?.Invoke(this.Options);

        if (this.Options.IsDirty)
        {
            StateHasChanged();
            this.Options.IsDirty = false;
        }
    }

    private void ResetOptions()
    {
        this.Options.ShowSideBar = true;
        this.Options.GatesHidden = false;
    }
}