@using BlazorVault.Web.Client.Domain
@inherits LayoutComponentBase

<div id="app" class="@(!Options.GatesHidden ? "app-gates" : string.Empty)">
    <nav class="@(Options.ShowSideBar ? string.Empty : "collapsed")">
        <NavMenu />
    </nav>
    <header>
        <BVRow NoGutters Horizontal="Justify.Between">
            <div>@Options.Title</div>
            <a class="header-link-icon" href="https://github.com/gvanastasov/blazorvault"><svg width="30" height="30" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <g transform="translate(0 -270.54)">
        <path d="m51.003 275.54c-4.4291-0.0357-9.0881 0.35751-12.058 1.1536-14.701 3.9409-26.949 15.213-31.707 29.18-3.6317 10.661-2.778 24.785 2.0778 34.37 6.888 13.598 20.319 23.137 35.419 25.155 3.0638 0.40957 12.209-0.14192 15.543-0.93664 15.949-3.802 29.451-16.857 33.523-32.416 1.1644-4.4485 1.5761-14.111 0.80439-18.888-1.5281-9.4575-5.6769-17.452-12.691-24.455-5.9449-5.9354-13.638-10.253-21.897-12.29-2.2638-0.55833-5.5696-0.84606-9.0144-0.87379zm-0.98138 7.5519c6.3156 0 7.4675 0.14116 11.076 1.3519 6.428 2.1566 11.073 5.0102 15.649 9.6146 6.3009 6.3399 9.71 13.371 10.792 22.258 1.6553 13.592-4.8399 27.681-16.367 35.503-2.9027 1.9697-7.8736 4.3174-9.1933 4.3424-0.47348 0.01-0.63041-1.6998-0.63231-6.899-0.0038-7.8263-0.44604-10.013-2.5007-12.349l-1.4406-1.6386 3.657-0.58121c3.9235-0.62327 6.3898-1.5757 9.6202-3.716 5.873-3.8914 7.4834-16.036 3.0562-23.046-1.5456-2.4474-1.6041-2.7129-1.1191-5.0768 0.74468-3.6296-0.43647-8.1861-2.186-8.4326-1.7696-0.2493-4.6384 0.71547-8.0281 2.6989l-2.9402 1.7201-4.3483-0.58024c-3.3214-0.44368-5.5575-0.43887-9.4716 0.0195-5.0071 0.58653-5.1644 0.57307-6.9188-0.56453-3.1911-2.0692-5.7733-3.0549-8.089-3.0877l-2.2656-0.0313-0.73064 2.8815c-0.56722 2.2372-0.61199 3.4586-0.20058 5.4636 0.50925 2.4822 0.46612 2.6773-1.1082 5.013-2.2076 3.2751-3.0442 8.0813-2.2715 13.053 1.2412 7.9869 5.1352 11.618 14.495 13.516 4.091 0.82986 4.1297 0.85261 3.1881 1.8202-0.52436 0.53882-1.3875 1.7715-1.9185 2.7392-0.8102 1.4763-1.3477 1.8295-3.3394 2.1953-3.6307 0.66675-6.1655-0.51173-9.0321-4.1971-1.836-2.3606-2.7484-3.092-4.4122-3.5394-3.177-0.85409-3.6695 0.0771-1.1692 2.2139 1.1 0.94011 2.6487 2.9218 3.4407 4.4033 2.7434 5.1315 4.839 6.4641 10.169 6.4641h3.2116v4.7754c0 3.4916-0.16917 4.7714-0.62934 4.7626-0.34619-7e-3 -1.8815-0.52524-3.4112-1.1536-7.7984-3.2034-15.327-10.761-19.186-19.259-5.3203-11.715-3.8298-26.423 3.7535-37.033 4.7376-6.6286 11.48-11.507 19.725-14.273 3.6089-1.2108 4.7608-1.3519 11.076-1.3519z" />
    </g>
</svg><span class="sr-only">Github</span></a>
        </BVRow>
    </header>
    <main>
        <CascadingValue Value="this" Name="layout">
            @Body
        </CascadingValue>
    </main>
</div>
<div id="vault">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" width="100%" height="100%" version="1.1" viewBox="0 0 200 100" class="" preserveAspectRatio="xMidYMid slice">
        <g transform="translate(0 -270.54)" id="vault-gates" class="@(Options.GatesHidden ? "hidden" : "open")">
            <path d="m106.93 270.54-24.592 100h75.578l7.7715-31.598v-68.402z" fill="#dc3545" class="vault-gate-right-0" />
            <path d="m106.93 270.54-24.592 100h75.58l2.4512-9.9648v-90.035z" fill="#990011FF" class="vault-gate-right-1" />
            <path d="m106.93 270.54-24.592 100h119.06v-100z" fill="#4a0008" class="vault-gate-right-2" />
            <path d="m28.571 270.54v100h53.77l24.592-100z" fill="#dc3545" class="vault-gate-left-0" />
            <path d="m34.198 270.54v100h48.143l24.592-100z" fill="#990011FF" class="vault-gate-left-1" />
            <path d="m-0.32115 270.54v100h84.662l24.592-100z" fill="#4a0008" class="vault-gate-left-2" />
        </g>
    </svg>
</div>

@code {
    private LayoutOptions Options { get; set; }

    protected override void OnInitialized()
    {
        Options = new LayoutOptions();
    }

    protected override void OnParametersSet()
    {
        ResetOptions();
    }

    internal void Update(Action<LayoutOptions> setup)
    {
        setup?.Invoke(this.Options);

        if (this.Options.IsDirty)
        {
            this.StateHasChanged();
            this.Options.IsDirty = false;
        }
    }

    private void ResetOptions()
    {
        this.Options.ShowSideBar = true;
        this.Options.GatesHidden = true;
    }
}