@inject NavigationManager NavigationManager;

<section class="sidebar-links">
    <div class="sidebar-links__header">
        <BVLink To="/components">Components</BVLink>
    </div>
    <ol class="list-unstyled">
        @foreach (var item in links)
        {
            <li>
                <BVLink To="@item.Key">@item.Value</BVLink>
                <hr class="my-0"/>
            </li>
        }
    </ol>
</section>


@code {
    protected SortedDictionary<string, string> links = new SortedDictionary<string, string>
    {
        { "components/alert", "Alert" },
        { "components/badge", "Badge" },
        { "components/button", "Button" },
        { "components/button-group", "Button Group" },
        { "components/link", "Link" },
        { "components/spinner", "Spinner" },
        { "components/card", "Card" },
        { "components/carousel", "Carousel" },
        { "components/code", "Code" },
        { "components/list-group", "List Group" },
        { "components/heading", "Heading" },
        { "components/icon", "Icon" },
        { "components/jumbotron", "Jumbotron" },
        { "components/modal", "Modal" },
        { "components/progress-bar", "Progress Bar" },
        { "components/text", "Text" },
        { "components/toast", "Toast" },
        { "components/grid", "Grid" },
        { "components/collapsable", "Collapsable" },
        { "components/container", "Container" },
        { "components/breadcrumbs", "Breadcrumbs" },
        { "components/dynamic", "Dynamic" },
        { "components/tabs", "Tabs" },
        { "components/dropdown", "Dropdowns" },
        { "components/forms", "Forms" },
        { "components/tree", "Tree" },
    };

    protected string CurrentRoute
    {
        get
        {
            return NavigationManager.Uri.ToString();
        }
    }
}
