@page "/components/alert"

<ComponentPage Title="Alerts">
    <Description>
        <BVText>Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</BVText>
    </Description>
    <Parameters>
        Dismissible
    </Parameters>
    <Functionality>
        Dismissing
    </Functionality>
    <Examples>
        <BVText>Alerts can contain text and can be styled with one of the style classes (e.g., <span class="text-danger">.alert-success</span>).</BVText>

        <BVAlert>A simple primary alert - check it out!</BVAlert>
        <BVAlert Style="Style.Secondary">A simple primary alert - check it out!</BVAlert>
        <BVAlert Style="Style.Success">A simple primary alert - check it out!</BVAlert>
        <BVAlert Style="Style.Danger">A simple primary alert - check it out!</BVAlert>
        <BVAlert Style="Style.Warning">A simple primary alert - check it out!</BVAlert>
        <BVAlert Style="Style.Info">A simple primary alert - check it out!</BVAlert>
        <BVAlert Style="Style.Light">A simple primary alert - check it out!</BVAlert>
        <BVAlert Style="Style.Dark">A simple primary alert - check it out!</BVAlert>

        <BVCode>
            &lt;BVAlert&gt;A simple primary alert - check it out!&lt;/BVAlert&gt;
            &lt;BVAlert Style=&quot;Style.Secondary&quot;&gt;A simple primary alert - check it out!&lt;/BVAlert&gt;
            &lt;BVAlert Style=&quot;Style.Success&quot;&gt;A simple primary alert - check it out!&lt;/BVAlert&gt;
            &lt;BVAlert Style=&quot;Style.Danger&quot;&gt;A simple primary alert - check it out!&lt;/BVAlert&gt;
            &lt;BVAlert Style=&quot;Style.Warning&quot;&gt;A simple primary alert - check it out!&lt;/BVAlert&gt;
            &lt;BVAlert Style=&quot;Style.Info&quot;&gt;A simple primary alert - check it out!&lt;/BVAlert&gt;
            &lt;BVAlert Style=&quot;Style.Light&quot;&gt;A simple primary alert - check it out!&lt;/BVAlert&gt;
            &lt;BVAlert Style=&quot;Style.Dark&quot;&gt;A simple primary alert - check it out!&lt;/BVAlert&gt;
        </BVCode>
    </Examples>
</ComponentPage>