@page "/components/badge"

<ComponentPage Title="Badges" UnderDevelopment>
    <Description>
        <BVText>Badges are a simple emphasizing of text, numerics, label or similar.</BVText>
    </Description>
    <Examples>
        <BVText>Here is a simple <BVBadge>badge</BVBadge>.</BVText>
        <section>
            <BVHeading Level="4" As="6">Scaling</BVHeading>
            <BVText>Badges scale to match the size of the immediate parent element by using relative font sizing and em units.</BVText>

            <BVTabGroup>
                <BVTab>
                    <Trigger>Code</Trigger>
                    <ChildContent>
                        <BVCode src="_content/resources/code/bv-heading-scale.html">&lt;BVHeading Level=&quot;6&quot; As=&quot;1&quot;&gt;Example heading &lt;BVBadge&gt;1&lt;/BVBadge&gt;&lt;/BVHeading&gt;
&lt;BVHeading Level=&quot;6&quot; As=&quot;2&quot;&gt;Example badge size &lt;BVBadge&gt;2&lt;/BVBadge&gt;&lt;/BVHeading&gt;
&lt;BVHeading Level=&quot;6&quot; As=&quot;3&quot;&gt;Example badge size &lt;BVBadge&gt;3&lt;/BVBadge&gt;&lt;/BVHeading&gt;
&lt;BVHeading Level=&quot;6&quot; As=&quot;4&quot;&gt;Example badge size &lt;BVBadge&gt;4&lt;/BVBadge&gt;&lt;/BVHeading&gt;
&lt;BVHeading Level=&quot;6&quot; As=&quot;5&quot;&gt;Example badge size &lt;BVBadge&gt;5&lt;/BVBadge&gt;&lt;/BVHeading&gt;
&lt;BVHeading Level=&quot;6&quot; As=&quot;6&quot;&gt;Example badge size &lt;BVBadge&gt;6&lt;/BVBadge&gt;&lt;/BVHeading&gt;</BVCode>
                    </ChildContent>
                </BVTab>
                <BVTab>
                    <Trigger>Result</Trigger>
                    <ChildContent>
                        <BVHeading Level="6" As="1">Example badge size <BVBadge>1</BVBadge></BVHeading>
                        <BVHeading Level="6" As="2">Example badge size <BVBadge>2</BVBadge></BVHeading>
                        <BVHeading Level="6" As="3">Example badge size <BVBadge>3</BVBadge></BVHeading>
                        <BVHeading Level="6" As="4">Example badge size <BVBadge>4</BVBadge></BVHeading>
                        <BVHeading Level="6" As="5">Example badge size <BVBadge>5</BVBadge></BVHeading>
                        <BVHeading Level="6" As="6">Example badge size <BVBadge>6</BVBadge></BVHeading>
                    </ChildContent>
                </BVTab>
            </BVTabGroup>
        </section>
    </Examples>
</ComponentPage>