@page "/components/breadcrumbs"

<ComponentPage Title="Breadcrumbs">
    <Description>
        <BVText>Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</BVText>
    </Description>
    <Examples>
        <BVText>Alerts can contain text and can be styled with one of the style classes (e.g., <span class="text-danger">.alert-success</span>).</BVText>
    </Examples>
</ComponentPage>