@page "/components/button-group"

<ComponentPage Title="Button Group" UnderDevelopment>
    <Description>
        <BVText>Create button panels by grouping buttons together.</BVText>
    </Description>
    <Examples>
        <section>
            <BVTabGroup>
                <BVTab>
                    <Trigger>Result</Trigger>
                    <ChildContent>
                        <BVButtonGroup>
                            <BVButton>Left</BVButton>
                            <BVButton>Middle</BVButton>
                            <BVButton>Right</BVButton>
                        </BVButtonGroup>
                    </ChildContent>
                </BVTab>
                <BVTab>
                    <Trigger>Code</Trigger>
                    <ChildContent>
                        <BVCode>&lt;BVButtonGroup&gt;
    &lt;BVButton&gt;Left&lt;/BVButton&gt;
    &lt;BVButton&gt;Middle&lt;/BVButton&gt;
    &lt;BVButton&gt;Right&lt;/BVButton&gt;
&lt;/BVButtonGroup&gt;</BVCode>
                    </ChildContent>
                </BVTab>
            </BVTabGroup>
        </section>
    </Examples>
</ComponentPage>