@page "/components/dropdown"

<ComponentPage Title="Dropdowns" UnderDevelopment>
    <Description>
        <BVText>Toggle contextual overlays for displaying lists of links and more with the Bootstrap dropdown plugin.</BVText>
    </Description>
    <Examples>
        <section>
            <BVTabGroup>
                <BVTab>
                    <Trigger>Result</Trigger>
                    <ChildContent>
                        <BVDropdown Text="Dropdown">
                            <BVDropdownItem>Action</BVDropdownItem>
                            <BVDropdownItem>Another Action</BVDropdownItem>
                            <BVDropdownItem>Something else here</BVDropdownItem>
                        </BVDropdown>
                    </ChildContent>
                </BVTab>
                <BVTab>
                    <Trigger>Code</Trigger>
                    <ChildContent>
                        <BVCode>&lt;BVButton Style=&quot;Style.Primary&quot;&gt;Primary&lt;/BVButton&gt;</BVCode>
                    </ChildContent>
                </BVTab>
            </BVTabGroup>
        </section>
    </Examples>
</ComponentPage>