@page "/components/grid"

<ComponentPage Title="Grid" UnderDevelopment>
    <Description>
        <BVText>Use our powerful mobile-first flexbox grid to build layouts of all shapes and sizes thanks to a twelve column system, five default responsive tiers, Sass variables and mixins, and dozens of predefined classes.</BVText>
    </Description>
    <Examples>
        <section>
            <BVTabGroup>
                <BVTab>
                    <Trigger>Result</Trigger>
                    <ChildContent>
                        <BVRow>
                            <BVCol>1/3 columns</BVCol>
                            <BVCol>2/3 columns</BVCol>
                            <BVCol>3/3 columns</BVCol>
                        </BVRow>
                    </ChildContent>
                </BVTab>
                <BVTab>
                    <Trigger>Code</Trigger>
                    <ChildContent>
                        <BVCode>&lt;BVRow&gt;
    &lt;BVCol&gt;1/3 columns&lt;/BVCol&gt;
    &lt;BVCol&gt;2/3 columns&lt;/BVCol&gt;
    &lt;BVCol&gt;3/3 columns&lt;/BVCol&gt;
&lt;/BVRow&gt;</BVCode>
                    </ChildContent>
                </BVTab>
            </BVTabGroup>
        </section>
    </Examples>
</ComponentPage>