@page "/components/icon"

<ComponentPage Title="Icons">
    <Description>
        <BVText>Use these for submitting or reseting forms, GUI interaction and others.</BVText>
    </Description>
    <Examples>
        <section>
            <BVTabGroup>
                <BVTab>
                    <Trigger>Result</Trigger>
                    <ChildContent>
                        <BVText>This is the home icon: <BVIcon Type="Icon.Home"></BVIcon></BVText>
                    </ChildContent>
                </BVTab>
                <BVTab>
                    <Trigger>Code</Trigger>
                    <ChildContent>
                        <BVCode>&lt;BVText&gt;This is the home icon: &lt;BVIcon Type=&quot;Icon.Home&quot;&gt;&lt;/BVIcon&gt;&lt;/BVText&gt;</BVCode>
                    </ChildContent>
                </BVTab>
            </BVTabGroup>
        </section>
    </Examples>
</ComponentPage>