@page "/components/list-group"

<ComponentPage Title="List Group" UnderDevelopment>
    <Description>
        <BVText>List groups are a flexible and powerful component for displaying a series of content. Modify and extend them to support just about any content within.</BVText>
    </Description>
    <Examples>
        <section>
            <BVTabGroup>
                <BVTab>
                    <Trigger>Result</Trigger>
                    <ChildContent>
                        <BVListGroup>
                            <BVListGroupItem>Cras justo odio</BVListGroupItem>
                            <BVListGroupItem>Dapibus ac facilisis in</BVListGroupItem>
                            <BVListGroupItem>Morbi leo risus</BVListGroupItem>
                            <BVListGroupItem>Porta ac consectetur ac</BVListGroupItem>
                            <BVListGroupItem>Vestibulum at eros</BVListGroupItem>
                        </BVListGroup>
                    </ChildContent>
                </BVTab>
                <BVTab>
                    <Trigger>Code</Trigger>
                    <ChildContent>
                        <BVCode>&lt;BVListGroup&gt;
    &lt;BVListGroupItem&gt;Cras justo odio&lt;/BVListGroupItem&gt;
    &lt;BVListGroupItem&gt;Dapibus ac facilisis in&lt;/BVListGroupItem&gt;
    &lt;BVListGroupItem&gt;Morbi leo risus&lt;/BVListGroupItem&gt;
    &lt;BVListGroupItem&gt;Porta ac consectetur ac&lt;/BVListGroupItem&gt;
    &lt;BVListGroupItem&gt;Vestibulum at eros&lt;/BVListGroupItem&gt;
&lt;/BVListGroup&gt;</BVCode>
                    </ChildContent>
                </BVTab>
            </BVTabGroup>
        </section>
    </Examples>
</ComponentPage>