@page "/components/modal"

<ComponentPage Title="Modal" UnderDevelopment>
    <Description>
        <BVText>Popups everywhere.</BVText>
    </Description>
    <Examples>
        <section>
            <BVTabGroup>
                <BVTab>
                    <Trigger>Result</Trigger>
                    <ChildContent>
                        <BVButton @onclick="() => Opened = !Opened">Open</BVButton>
                        <BVModal id="test-modal" Opened="Opened">
                            <div>I am inside modal.</div>
                        </BVModal>
                    </ChildContent>
                </BVTab>
                <BVTab>
                    <Trigger>Code</Trigger>
                    <ChildContent>
                        <BVCode>&lt;BVButton @@onclick=&quot;() =&gt; Opened = !Opened&quot;&gt;Open&lt;/BVButton&gt;
&lt;BVModal id=&quot;test-modal&quot; Opened=&quot;Opened&quot;&gt;
    &lt;div&gt;I am inside modal.&lt;/div&gt;
&lt;/BVModal&gt;</BVCode>
                    </ChildContent>
                </BVTab>
            </BVTabGroup>
        </section>
    </Examples>
</ComponentPage>

@code {
    public bool Opened { get; set; }
}