@page "/components/progress-bar"

<ComponentPage Title="Progress Bar">
    <Description>
        <BVText>Documentation and examples for using Bootstrap custom progress bars featuring support for stacked bars, animated backgrounds, and text labels.</BVText>
    </Description>
    <Examples>
        <section>
            <BVTabGroup>
                <BVTab>
                    <Trigger>Result</Trigger>
                    <ChildContent>
                        <BVProgress Value="0">0%</BVProgress>
                        <BVProgress Value="25">25%</BVProgress>
                        <BVProgress Value="50">50%</BVProgress>
                        <BVProgress Value="75">75%</BVProgress>
                        <BVProgress Value="100">100%</BVProgress>
                    </ChildContent>
                </BVTab>
                <BVTab>
                    <Trigger>Code</Trigger>
                    <ChildContent>
                        <BVCode>&lt;BVProgress Value=&quot;0&quot;&gt;0%&lt;/BVProgress&gt;
&lt;BVProgress Value=&quot;25&quot;&gt;25%&lt;/BVProgress&gt;
&lt;BVProgress Value=&quot;50&quot;&gt;50%&lt;/BVProgress&gt;
&lt;BVProgress Value=&quot;75&quot;&gt;75%&lt;/BVProgress&gt;
&lt;BVProgress Value=&quot;100&quot;&gt;100%&lt;/BVProgress&gt;</BVCode>
                    </ChildContent>
                </BVTab>
            </BVTabGroup>
        </section>
    </Examples>
</ComponentPage>