@page "/components/tree"

<ComponentPage Title="Tree" UnderDevelopment>
    <Description>
        <BVText>Tree formations.</BVText>
    </Description>
    <Examples>
        <section>
            <BVTabGroup>
                <BVTab>
                    <Trigger>Result</Trigger>
                    <ChildContent>
                        <BVTree>
                            <BVTreeNode>
                                <Trigger>Beverages</Trigger>
                                <ChildContent>
                                    <BVTreeNode>Water</BVTreeNode>
                                    <BVTreeNode>Coffee</BVTreeNode>
                                    <BVTreeNode>
                                        <Trigger>Tea</Trigger>
                                        <ChildContent>
                                            <BVTreeNode>Black Tea</BVTreeNode>
                                            <BVTreeNode>White Tea</BVTreeNode>
                                            <BVTreeNode>
                                                <Trigger>Green Tea</Trigger>
                                                <ChildContent>
                                                    <BVTreeNode>Sencha</BVTreeNode>
                                                    <BVTreeNode>Gyokuro</BVTreeNode>
                                                    <BVTreeNode>Matcha</BVTreeNode>
                                                    <BVTreeNode>Pi Lo Chun</BVTreeNode>
                                                </ChildContent>
                                            </BVTreeNode>
                                        </ChildContent>
                                    </BVTreeNode>
                                </ChildContent>
                            </BVTreeNode>
                        </BVTree>
                    </ChildContent>
                </BVTab>
                <BVTab>
                    <Trigger>Code</Trigger>
                    <ChildContent>
                        <BVCode>&lt;BVTree&gt;
    &lt;BVTreeNode&gt;
        &lt;Trigger&gt;Beverages&lt;/Trigger&gt;
        &lt;ChildContent&gt;
            &lt;BVTreeNode&gt;Water&lt;/BVTreeNode&gt;
            &lt;BVTreeNode&gt;Coffee&lt;/BVTreeNode&gt;
            &lt;BVTreeNode&gt;
                &lt;Trigger&gt;Tea&lt;/Trigger&gt;
                &lt;ChildContent&gt;
                    &lt;BVTreeNode&gt;Black Tea&lt;/BVTreeNode&gt;
                    &lt;BVTreeNode&gt;White Tea&lt;/BVTreeNode&gt;
                    &lt;BVTreeNode&gt;
                        &lt;Trigger&gt;Green Tea&lt;/Trigger&gt;
                        &lt;ChildContent&gt;
                            &lt;BVTreeNode&gt;Sencha&lt;/BVTreeNode&gt;
                            &lt;BVTreeNode&gt;Gyokuro&lt;/BVTreeNode&gt;
                            &lt;BVTreeNode&gt;Matcha&lt;/BVTreeNode&gt;
                            &lt;BVTreeNode&gt;Pi Lo Chun&lt;/BVTreeNode&gt;
                        &lt;/ChildContent&gt;
                    &lt;/BVTreeNode&gt;
                &lt;/ChildContent&gt;
            &lt;/BVTreeNode&gt;
        &lt;/ChildContent&gt;
    &lt;/BVTreeNode&gt;
&lt;/BVTree&gt;</BVCode>
                    </ChildContent>
                </BVTab>
            </BVTabGroup>
        </section>
    </Examples>
</ComponentPage>