@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");
#app {
  position: relative;
  left: 250px;
  top: 90px;
  width: calc(100% - 250px);
  min-height: calc(100vh - 90px);
  background-color: #fcf6f5ff; }
  #app > nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    min-width: 250px;
    max-width: 250px;
    transition: left 0.3s ease-in-out;
    color: #fcf6f5ff;
    overflow-x: hidden;
    text-align: center;
    background: linear-gradient(180deg, #990011FF 0%, #4a0008 100%);
    z-index: 990; }
    #app > nav.collapsed {
      left: -250px;
      pointer-events: none;
      position: absolute; }
      #app > nav.collapsed + #content {
        left: 0px; }
  #app > header {
    height: 90px;
    padding: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.18);
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    position: fixed;
    top: 0;
    width: calc(100% - 250px);
    background: #fcf6f5ff;
    z-index: 990; }
  #app > main {
    position: relative;
    padding: 30px 60px 30px 45px; }

.sidebar-header {
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
  height: 90px;
  background: #990011FF; }
  .sidebar-header > a {
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 100%; }

.sidebar-links > h3 {
  text-align: right;
  padding-right: 30px; }

.sidebar-links > ol {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right; }
  .sidebar-links > ol > li > a {
    color: white;
    padding: 10px 30px 10px 10px;
    display: block;
    border-left: 0px solid #dc3545;
    transition: border-left-width 0.3s,  background-color 0.2s, font-weight 0.2s; }
    .sidebar-links > ol > li > a:hover {
      text-decoration: none; }
    .sidebar-links > ol > li > a:hover:not(.active) {
      border-left-width: 10px;
      background-color: #4a0008; }
    .sidebar-links > ol > li > a.active {
      font-weight: bold;
      background-color: #dc3545; }

.app-loader {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  text-align: center; }
  .app-loader > h1 {
    font-weight: bolder;
    text-transform: uppercase; }

.lds-ring {
  width: 64px;
  height: 64px; }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #F44336;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #F44336 transparent transparent transparent; }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s; }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s; }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.tab-content {
  padding: 15px;
  border: 1px solid #dee2e6;
  border-top: none; }

.nav-tabs .nav-link {
  cursor: pointer; }
  .nav-tabs .nav-link.active {
    color: #dc3545;
    font-weight: bold; }

#vault {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 1000; }
  #vault-gates.open > path.vault-gate-left-0 {
    transform: translateX(-32px);
    transition: transform 0.3s ease-in-out; }
  #vault-gates.open > path.vault-gate-left-1 {
    transform: translateX(-40px);
    transition: transform 0.3s ease-in-out 0.2s; }
  #vault-gates.open > path.vault-gate-left-2 {
    transform: translateX(-50px);
    transition: transform 0.4s ease-in-out 0.3s; }
  #vault-gates.open > path.vault-gate-right-0 {
    transform: translateX(35px);
    transition: transform 0.35s ease-in-out; }
  #vault-gates.open > path.vault-gate-right-1 {
    transform: translateX(40px);
    transition: transform 0.3s ease-in-out 0.2s; }
  #vault-gates.open > path.vault-gate-right-2 {
    transform: translateX(47px);
    transition: transform 0.5s ease-in-out 0.3s; }
  #vault-gates.hidden > path.vault-gate-left-0 {
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out 0.3s; }
  #vault-gates.hidden > path.vault-gate-left-1 {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out 0.2s; }
  #vault-gates.hidden > path.vault-gate-left-2 {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out; }
  #vault-gates.hidden > path.vault-gate-right-0 {
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out 0.3s; }
  #vault-gates.hidden > path.vault-gate-right-1 {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out 0.2s; }
  #vault-gates.hidden > path.vault-gate-right-2 {
    transform: translateX(100%);
    transition: transform 0.35s ease-in-out; }

body {
  font-family: monospace; }

.landing-page {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh; }
