@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");
#app {
  position: relative;
  min-height: 100vh;
  background-color: #fcf6f5ff; }
  #app > header {
    height: 60px;
    padding: 10px;
    width: 100%;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom: 0;
    background: #69000c;
    transition: top 0.2s;
    display: flex;
    align-items: center;
    z-index: 990; }
    @media (min-width: 768px) {
      #app > header {
        background-color: #fcf6f5ff;
        top: 0;
        border-top: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25); } }
    #app > header .header-link-icon {
      cursor: pointer;
      margin-left: 5px; }
      #app > header .header-link-icon > svg {
        fill: #000;
        transition: fill 0.3s; }
        @media (min-width: 768px) {
          #app > header .header-link-icon > svg:hover {
            fill: #dc3545; } }
      #app > header .header-link-icon.active > svg {
        fill: #000; }
  #app > nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 90px;
    min-height: 100vh;
    transition: left 0.3s ease-in-out, box-shadow 0.3s;
    color: #fcf6f5ff;
    overflow-x: hidden;
    text-align: center;
    box-shadow: 1px 0px 0px #990011FF, 3px 0px 10px #000;
    background-color: #4a0008;
    z-index: 980; }
    #app > nav.collapsed {
      left: -100%;
      pointer-events: none;
      box-shadow: none; }
    @media (min-width: 768px) {
      #app > nav {
        width: 250px; }
        #app > nav.collapsed {
          left: 0px;
          pointer-events: auto; } }
  #app > main {
    position: relative;
    padding: 15px 15px 80px 15px;
    margin-left: 0; }
    #app > main > h1 {
      text-align: center; }
      @media (min-width: 768px) {
        #app > main > h1 {
          text-align: right; } }
    @media (min-width: 768px) {
      #app > main {
        padding: 80px 30px 15px;
        left: 250px;
        width: calc(100% - 250px); } }
  #app.app-gates {
    left: 0;
    top: 0;
    width: 100%; }
    #app.app-gates > header {
      top: -90px; }
    @media (min-width: 768px) {
      #app.app-gates > nav {
        left: -250px; } }
    #app.app-gates > main {
      width: 100%;
      left: 0px;
      padding: 0;
      margin-left: auto; }

.sidebar-header {
  padding: 20px;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.6);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  background: #990011FF;
  position: absolute;
  height: 70px;
  left: 10px;
  top: -20px; }
  @media (min-width: 768px) {
    .sidebar-header {
      top: 0;
      left: 0;
      width: 250px;
      height: 60px;
      text-align: center;
      border-top: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25); } }
  .sidebar-header > img {
    height: 100%; }
  .sidebar-header > a {
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 100%; }

.sidebar-links {
  padding-bottom: 60px; }
  @media (min-width: 768px) {
    .sidebar-links {
      padding-bottom: 0px;
      padding-top: 60px; } }
  .sidebar-links__header {
    padding: 15px 30px 10px 0px;
    text-align: right;
    background-color: #990011FF; }
    .sidebar-links__header > a {
      color: white;
      font-size: 2.25rem; }
  .sidebar-links > h3 {
    text-align: right;
    padding-right: 30px; }
  .sidebar-links > ol {
    background: linear-gradient(180deg, #990011FF 0%, #4a0008 100%);
    margin: 0;
    padding: 0 0 30px;
    list-style: none;
    text-align: right; }
    @media (min-width: 768px) {
      .sidebar-links > ol {
        padding-bottom: 0px; } }
    .sidebar-links > ol > li > a {
      color: white;
      padding: 10px 30px 10px 10px;
      display: block;
      border-left: 0px solid #dc3545;
      transition: border-left-width 0.3s,  background-color 0.2s, font-weight 0.2s; }
      .sidebar-links > ol > li > a:hover {
        text-decoration: none; }
      .sidebar-links > ol > li > a:hover:not(.active) {
        border-left-width: 10px;
        background-color: #4a0008; }
      .sidebar-links > ol > li > a.active {
        font-weight: bold;
        background-color: #dc3545; }

.app-loader {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  text-align: center; }
  .app-loader > h1 {
    font-weight: bolder;
    text-transform: uppercase; }

.lds-ring {
  width: 64px;
  height: 64px; }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #F44336;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #F44336 transparent transparent transparent; }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s; }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s; }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.tab-content {
  padding: 15px;
  border: 1px solid #dee2e6;
  border-top: none; }

.nav-tabs .nav-link {
  cursor: pointer; }
  .nav-tabs .nav-link.active {
    color: #dc3545;
    font-weight: bold; }

.gate-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: #990011;
  transition: top 0.3s ease-in-out; }
  .gate-top:after {
    content: '';
    display: block;
    width: 500px;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 250px);
    background-color: #fcf6f5ff; }
    @media (max-width: 768px) {
      .gate-top:after {
        left: 15%;
        width: 70%; } }

.gate-bottom {
  position: absolute;
  top: 50vh;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: #fcf6f5ff;
  transition: top 0.3s ease-in-out; }
  .gate-bottom:before, .gate-bottom:after {
    content: '';
    display: block;
    width: calc(50% - 250px);
    position: absolute;
    top: 0;
    border-top: 5px solid #990011FF;
    height: 50vh; }
    @media (max-width: 768px) {
      .gate-bottom:before, .gate-bottom:after {
        width: 15%; } }
  .gate-bottom:before {
    left: 0; }
  .gate-bottom:after {
    left: calc(50% + 250px); }
    @media (max-width: 768px) {
      .gate-bottom:after {
        left: 85%; } }
  .gate-bottom > div {
    width: 510px;
    position: absolute;
    top: 0;
    border: 5px solid #990011FF;
    border-top: none;
    height: 205px;
    left: calc(50% - 255px); }
    @media (max-width: 768px) {
      .gate-bottom > div {
        width: calc(70% + 10px);
        left: calc(15% - 5px); } }

#vault {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none; }
  #vault.open > .gate-top {
    top: -50vh; }
  #vault.open > .gate-bottom {
    top: 100vh; }

body {
  font-family: monospace; }
  @media (max-width: 768px) {
    body {
      overflow-wrap: break-word; }
      body .display-1 {
        font-size: 3rem; }
      body .display-2 {
        font-size: 2.75rem; }
      body .display-3 {
        font-size: 2.25rem; }
      body .display-4 {
        font-size: 1.75rem; } }

/* todo: move out of here */
.documentation-table th, .documentation-table td {
  padding: .75rem;
  vertical-align: top;
  border: 1px solid #dee2e6; }

.landing-page {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh; }
  .landing-page > div {
    background-color: #fcf6f5ff;
    padding: 30px;
    width: 500px;
    height: 400px;
    z-index: 1001;
    box-shadow: inset 0 0 10px black;
    border: 1px solid #dc3545; }
    @media (max-width: 768px) {
      .landing-page > div {
        width: 70%; } }
  @media (max-width: 768px) {
    .landing-page h1 {
      font-size: 1.5rem; }
    .landing-page p {
      font-size: smaller; } }
  .landing-page a.btn-primary {
    background-color: #990011FF;
    border-color: #990011FF;
    border-width: 2px; }
    .landing-page a.btn-primary:active {
      background-color: #dc3545 !important;
      border-color: #990011FF !important; }
    .landing-page a.btn-primary:focus {
      box-shadow: 0px 0px 10px #dc3545 !important; }

.text-primary {
  color: #dc3545 !important; }
